html{
 font-size:30px;
}

 


box{
  font-size:30px;
}

p{
  font-size:1rem;
  border:0.1rem black solid;
  padding: 1rem;
}

box{
  font-size:30px;
}

p{
  font-size:1rem;
  border:0.1rem black solid;
  padding: 1rem;
}

 


