header{
  background-color:red;
}

nav{
  background-color:yellow;
}

section{
  background-color:blue;
}

aside{
  background-color:orange;
}

article{
  background-color:grey;
}

footer{
  background-color:purple;
}
